VITE_SUPABASE_URL=https://kbdjknztujlujhnvcbtk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_XTpSODNySX6Lru1XrBIwUw_qg2wxh8o
VITE_ADMIN_EMAIL=nitheshbs24it@srishakthi.ac.in
VITE_SITE_URL=http://localhost:5173
VITE_STUDENT_PHOTO_BUCKET=student-photos
VITE_PHP_PARENT_ALERT_URL=http://localhost:8000/send-parent-alert.php
VITE_PHP_PARENT_ALERTS_HISTORY_URL=http://localhost:8000/get-parent-alerts.php
